---
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-12 lg:py-4 xl:py-8">
    <Text
      tag="h1"
      variant="textBase"
      class="text-black dark:text-white font-medium"
    >
      Hi, I'm Will!
    </Text>
  </Wrapper>
  <Wrapper variant="standard" class="py-2">
    <div class="border-t dark:border-white/10 border-black/10 pt-2">
      <Text
        tag="h1"
        variant="textBase"
        class="text-black dark:text-white font-medium"
      >
        Intro
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="2xl:text-base mt-2 dark:text-zinc-400 text-zinc-500"
      >
      I'm a software developer currently working as Director of Developer Experience at Hypermode. You can follow me on Twitter at @lyonwj , connect on LinkedIn, or subscribe to my newsletter for periodic updates. Here you can find mostly my blog posts, videos, and other projects.
      </Text>
    </div>
  </Wrapper>
</section>
